/* Fonts */

@font-face {
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

/*
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-.ttf");
}
*/

/* Style */

body{
    background: url(../img/pattern.png);
    color: #fff;
    font-family: 'Raleway Regular', sans-serif;
    overflow: hidden;
    counter-reset: menu;
}

.project-list{
    display: inline-flex;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
}

.project{
    background: #303030;
    display: flex;
    transform: scale(0.8);
    transition: 0.3s;
    opacity: 0.5;
}

.project-selected{
    transform: scale(1);
    opacity: 1;
}

.project > .project-title{
    font-size: 3.4em;
    color: #fff;
    font-family: 'Raleway Bold';
    align-self: center;
    position: relative;
    left: -80px;
    opacity: 0;
    transition: 0.3s;
}

.project-selected > .project-title{
    opacity: 1;
    transform: 0.3s;
}

.project-selected > .project-title::after{
    content: attr(title);
    color: #fff;
    font-family: 'Raleway Regular';
    font-size: 0.32em;
    position: absolute;
    left: 10px;
    bottom: -25px;
    opacity: 0.8;
}

.follow-btn{
    text-align: center;
    transition: 0.2s;
}

.follow-btn-menu{
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    text-align: center;
    margin: 20px;
    z-index: 10;
}

.btn-menu{
    align-self: center;
    transition: 0.2s;
    position: relative;
}

.btn-menu:hover{
    margin-top: -4px;
}

.btn-menu:hover > span{
    background: #fff !important;
    margin-bottom: 8px;
}

.btn-menu > span{
    width: 26px;
    height: 2px;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
    transition: 0.2s;
}

.btn-menu > span:last-child{
    margin-bottom: 0;
}

.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.menu-layer-1{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    
}

.menu-layer-2{
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.menu-layer-1 > .menu-block{
    width: 100%;
    background: #fff;
    height: 100px;
}

.menu-layer-2 > .menu-block{
    width: 100%;
    background: #101010;
    height: 100px;
}

@keyframes menuAnimationOpen{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.menu-open{
    transform: rotateY(0deg);
}

.menu-open > div{
    animation: menuAnimationOpen;
}

.menu-close{
    transform: rotateY(180deg);
}

.menu-close > div{
    width: 0%;
    animation: menuAnimationClose;
    opacity: 0;
}

@keyframes menuAnimationClose{
    0%{
        display: block;
        width: 100%;
        opacity: 1;
    }
    100%{
        display: block;
        width: 0%;
        opacity: 1;
    }
}

.btn-on{
    transform: rotateY(0deg);
    backface-visibility: visible;
}

.btn-off{
    transform: rotateY(90deg);
    backface-visibility: hidden;
}

.btn-off:hover{
    pointer-events: none;
}

.btn-close{
    align-self: center;
    transition: 0.2s;
    position: relative;
    height: 28px;
    width: 28px;
}

.btn-close:hover{
    transform: scale(1.1);
}

.btn-close:hover > span{
    background: #fff !important;
}

.btn-close > span{
    width: 28px;
    height: 2px;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    display: block;
    transition: 0.2s;
    position: relative;
    top: 16px;
}

.btn-close > span:first-child{
    transform: rotate(45deg);
}

.btn-close > span:last-child{
    transform: rotate(-45deg);
    margin-top: -2px;
}

.menu-list{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    position: fixed;
    z-index: 7;
}

.menu-list > ul{
    align-self: center;
    display: block;
    width: 100%;
}

.menu-list > ul > li > a{
    text-decoration: none;
    color: #fff;
    opacity: 0.2;
    transition: 0.35s;
}

.menu-list > ul > li {
    font-size: 92px;
    font-family: 'Raleway Bold';
    margin: 50px 0;
    transform: rotateX(0deg);
}

.menu-list > ul > li > a:hover{
    opacity: 1;
}

.menu-list > ul > li > a::before{
    counter-increment: menu;
    content: counter(menu);
    font-family: 'Raleway Regular';
    font-size: 18px;
    margin-right: 20px;
    vertical-align: text-top;
/*    display: none;*/
}

@keyframes rotateMenuOn{
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

@keyframes rotateMenuOff{
    0%{
        transform: rotateX(0deg);
        display: flex;
    }
    100%{
        transform: rotateX(-90deg);
        display: flex;
    }
}

.hide{
    display: none;
}

.menuAnimationOn > ul > li{
    animation: rotateMenuOn 0.5s linear;
}

.menuAnimationOff > ul > li{
    animation: rotateMenuOff 0.5s linear;
    transform: rotateX(-90deg);
}

.counter-projects{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 50px;
    left: 0;
}

.counter-projects > .counter{
    color: #fff;
    font-family: 'Raleway Regular';
    font-size: 16px;
    display: inline-block;
}

.counter-projects > .counter > .separation{
    height: 35px;
    width: 1px;
    background: #fff;
    display: inline-block;
    transform: rotate(22.5deg);
    position: relative;
    left: 0px;
    top: 15px;
    opacity: 0.4;
}

.counter-projects > .counter > .current-project{
    position: relative;
    top: -6px;
    left: -2px;
    width: 10px;
    display: inline-block;
}

.counter-projects > .counter > .total-project{
    position: relative;
    top: 10px;
    left: 4px;
    opacity: 0.4;
}

.hide-homepage{
    animation: hideHomepage 0.5s;
    opacity: 0;
    margin-top: -100px;
}

@keyframes hideHomepage{
    0%{
        opacity: 1;
        margin-top: 0;
    }
    100%{
        opacity: 0;
        margin-top: -100px;
    }
}

.page-project{
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-project > h1{
    font-size: 3.4em;
    color: #fff;
    font-family: 'Raleway Bold';
    align-self: center;
    position: relative;
    margin-top: 200px;
}

.page-project > .infos{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.page-project > .infos > .description{
    max-width: 70%;
    font-size: 14px;
}

.page-project > .infos > ul{
    padding: 0px 50px;
    font-family: 'Raleway Bold';
    font-size: 15px;
}

.page-project > .infos > ul > li{
    margin-bottom: 20px;
}

.page-project > .infos > ul > li::before{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px;
    font-family: 'Raleway Regular';
}

.page-project > .infos > ul > .type::before{
    content: 'Type';
}


.page-project > .infos > ul > .client::before{
    content: 'Client';
}

.page-project > .back{
    position: fixed;
    left: 50px;
    top: 50px;
    font-size: 12px;
    cursor: default;
}

.page-project > .back::before{
    content: 'â†';
    padding-right: 8px;
}

.page-project > .gallery > img{
    max-width: 100%;
    margin-top: 60px;
}